# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Local DB / Server storage
db.json

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs and Temp
*.log
*-errors.json

# Unrelated nested repo
/Abhay-kumar/
